<%= form_with model: @recipe do |f| %>
    <% if @recipe.errors.any? %>
        <div id="errors">
        <% @recipe.errors.full_messages.each do |msg| %>
            <div class="alert"><%= msg %></div>
        <% end %>
        </div>
    <% end %>

    <%= render partial: "layouts/errors", locals: {record: @recipe} %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Recipe Title" %>
        <%= f.label :category %>
        <%= f.text_field :category, placeholder: "Category" %>
        <%= f.label :instructions %>
        <%= f.text_field :instructions %>
    </div>
    <br>
    <br>

    <h2>Ingredients</h2>
    <div id="recipeIngredients">
    <%= f.fields_for :recipe_ingredients do |f| %>
        <%= render "recipe_ingredient_fields", f: f_form %>
    <% end %>
    <div class="links">
    <%= link_to_add_association 'add ingredient', f, :recipe_ingredients, wrap_object: Proc.new { |recipe_ingredient| recipe_ingredient.build_ingredient; recipe_ingredient } %> 
    </div>
    <br>
    <div class="actions">
    <%= f.submit "Add Recipe!" %>
    </div>
    </div>
<% end %>