<%= form_for @recipe do |f| %>

    <% if @recipe.errors.any? %>
    <div id="errors">
        <% @recipe.errors.full_messages.each do |msg| %>
            <div class="alert"><%= msg %></div>
        <% end %>
    </div>
    <% end %>
    
    <%= render partial: "layouts/errors", locals: {record: @recipe} %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :category %>
    <%= f.text_field :category %>

    <%= recipe_form.fields_for :recipe_ingredients do |recipe_ingredient_form| %>
        <%= recipe_ingredients_form.text_field :amount, placeholder: "Amount" %>
    <% end %>
    <%= f.label :ingredient %>
    <%= f.text_field :recipe_ingredient %>
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>

    <%= f.submit "Add Recipe!" %>

<% end %>