<%= form_for(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
    <div id="errors">
        <% @recipe.errors.full_messages.each do |msg| %>
            <div class="alert"><%= msg %></div>
        <% end %>
    </div>
    <% end %>
    
    <%= render partial: "layouts/errors", locals: {record: @recipe} %>
    
    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Recipe Title" %>
    <br>
    <br>
    <%= f.label :category %>
    <%= f.text_field :category, placeholder: "Category" %>
    <br>
    <br>
    <%= f.fields_for :ingredients, @recipe.ingredients.build do |f| %>
        <%= f.label :ingredient %>
        <%= f.text_field :name %>
    <% end %>

    <%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |f| %>
        <%= f.label :amount %>
        <%= f.text_field :amount %>
        <%= f.label :unit_of_measure %>
        <%= f.text_field :unit_of_measure %>
    <% end %>
    <br>
    <br>
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
    <br>
    <br>
    <%= f.submit "Add Recipe!" %>
    </div>

<% end %>