<% @recipe.each do |recipe| %>
    <h2>
        <%= link_to recipe.title, recipe, class: "recipe-info" %>
    </h2>

    <ul>
        <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
            <li>
                <%= recipe_ingredient.amount %> " " <%= recipe_ingredient.unit_of_measure%> " " <%= recipe_ingredient.ingredient.name %>
            </li>
        <% end %>
    </ul>
<% end %>

<div class="scope_search">
<%= form_tag recipes_path, method: :get do %>
    <%= label_tag :search %>
    <%= text_field_tag :search, @params[:search]%>
    <%= submit_tag "Search" %>
<% end %><br>



<h2><%= button_to "Add New Recipe", new_recipe_path, method: :get %></h2>
