<h1>Mic Check</h1>

<%= form_for @user do |f| %>
    <%= render partial: "layouts/errors", locals: {record: @user} %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign Up!" %>

<% end %>

<h3>Or sign in with Google</h3>

    <%= button_to "Google", '/auth/google_oauth2' %>